/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* applies font to all items */
* {
    font-family: "Libre Bodoni", serif;
}

/* background color and outside line */
:root {
    background-color: #FFFAED;
    margin: 10px;
    border: 5px solid black;
}

/* inside line */
body {
    margin: 5px;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

/* the detail at the top of the page */
body::before {
    align-self: center;
    position: absolute;
    background-color: #ff6464;
    content: '';
    padding: 120px;
    rotate: 45deg;
    transform: translate(-120px, -120px);
    z-index: -1;
}

body a:link {
    color: #ff6464;
}

body a:visited {
    color: rgb(255, 157, 0);
}

::selection {
    color: white;
    background-color: black;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    order: -2;
}

.intro [role~=banner] h1 {
    font-style: italic;
    font-size: 96px;
}


/* inserts flower image */
.intro [role=banner] h1::after {
    position: absolute;
    transform: translate(-50%, 125px);
    left: 50%;
    margin-left: -5px;

    background-image: url(images/AnselFlower.jpg);
    background-position: center;
    background-size: cover;

    filter: sepia(60%) opacity(80%);

    content: '';
    width: 500px;
    height: 500px;
    outline: 5px solid black;
    outline-offset: 5px;
}

.intro [role=banner] h2 {
    padding-top: 450px;
    margin-bottom: 0;
    font-size: 64px;
}

.intro .summary {
    font-size: 20px;
    max-width: 700px;
}

.intro .summary :last-child {
    font-size: 16px;
}

.intro #zen-preamble {
    background-image: url(images/AnselRiver.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 800px;

    border: 5px solid black;

    display: flex;
    flex-direction: column;
}

.intro #zen-preamble h3 {
    align-self: flex-end;

    text-align: left;
    width: 535px;

    font-style: italic;
    font-size: 36px;

    margin-right: 10vw;
    margin-top: 102px;
}

.intro #zen-preamble p:first-of-type {
    align-self: flex-end;

    width: 528px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-right: 10vw;

    text-align: left;
}

.intro #zen-preamble p:not(:first-of-type) {
    align-self: flex-end;

    width: 528px;
    margin: 5px;
    margin-right: 10vw;

    text-align: left;
}

aside {
    order: -1;
}

aside .wrapper {
    height: 1000px;

    background-image: url(images/AnselMountains.jpg);
    background-size: cover;
    background-attachment: fixed;
}

aside .design-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside .design-selection h3 {
    font-size: 64px;
    font-style: italic;

    margin-left: 10.5%;
}

aside .design-selection ul {
    z-index: 1;
    list-style: none;

    width: 515px;
    text-align: end;

    margin-top: 80px;
    margin-left: -22%;
}

aside .design-selection ul li {
    font-size: 28px;
}

aside .design-selection ul li *:not(a) {
    display: none;
}

aside .design-selection a {
    color: black;
}

aside .design-selection a:hover {
    color: #ff6464;
}

aside .design-archives ul:only-of-type {
    margin: 0;
    padding: 0;

    width: 454.5
}

aside .design-archives h3:first-child {
    display: none;
}

aside .design-archives nav li.next {
    display: none;
}

aside .design-archives nav ul:only-child li.viewall {
    list-style: none;
    font-style: italic;
    font-size: 32px;
    text-transform: uppercase;

    margin-left: 10.5%;
    width: 500px;

    transform: translateY(-180px);
}

aside .zen-resources {
    margin: 0;
}

aside .zen-resources h3 {
    display: none;
}

aside .zen-resources ul {
    list-style: none;
    margin-left: 10.5%;
    padding: 0;
    width: 500px;

    transform: translateY(-180px);
}

aside .zen-resources ul li {
    width: 500px;
}

aside .zen-resources a {
    text-decoration: none;
    color: black;
}

aside .zen-resources a:hover {
    color: #ff6464;
}

.main.supporting .explanation {
    position: absolute;

    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transform: translateY(-400px);
}

.main.supporting .explanation>h3 {
    font-size: 64px;

    text-align: right;
    width: 80%;

    position: absolute;
    transform: translateY(-200px);    
}

.main.supporting .explanation p {
    font-size: 24px;
    width: 600px;
}

.main.supporting .explanation p:nth-child(2) {
    margin-left: 100px;
    margin-right: 30px;
}

.main.supporting .explanation p + p {
    margin-right: 100px;
    margin-left: 30px;
}

[id$='zen-participation'] {
    height: 1000px;
    background-image: url(images/AnselSermon.jpg);
    background-size: cover;
    background-position: center;

    border: 5px solid black;
    border-left: none;
    border-right: none;

    display: flex;
    flex-direction: column;
}

[id^='zen-participation'] h3 {
    margin-left: 7vw;

    font-size: 64px;
    font-style: italic;
    text-transform: uppercase;
}

[id*='zen-participation'] p {
    align-self: flex-end;
    margin-right: 7vw;
    transform: translateY(-155px);

    width: 600px;
    font-size: 24px;
}

.main.supporting div:nth-of-type(n + 3) {
    margin-left: 48%;

    border-bottom: 5px solid black;
}

.benefits {
    height: 350px;
}

.main.supporting div:nth-of-type(n+3) h3 {
    margin-top: 0;
    transform: translateY(35px);

    text-align: center;

    font-style: italic;
    font-size: 64px;
    text-transform: uppercase;
}

.main.supporting div:nth-of-type(n+3) h3 ~ p {
    margin: 0 50px 24.25px 50px;

    font-size: 24px;
}

.requirements p:last-of-type {
    text-align: center;
    font-size: 16px !important;

    transform: translate(-50%, 67.5px);
}

footer {
    display: flex;
    justify-content: space-around;

    margin: 50px 500px;

    height: 400px;
}

footer [href] {
    color: black !important;
    font-size: 24px;

    transform: translateY(15px);
}

footer::after {
    content: '';
    position: absolute;

    padding: 150px;
    background-image: url(images/Ansel.jpg);
    background-size: cover;

    outline: 5px solid black;
    outline-offset: 5px;

    transform: translate(-150%, 100px);
}

footer::before {
    z-index: 3;
    position: absolute;

    width: 750px;
    height: 300px;

    font-size: 24px;

    transform: translate(40%, 175px);

    content: 'All images on this page were taken by Ansel Adams, who is known for his black-and-white images of the American West. Adams was a life-long advocate for environmental conservation, and his photography is deeply rooted in his advocacy. He died in 1984 from cardiovascular disease, and his legacy lives on to this day.';
}

.benefits::before {
    padding-right: 46.5%;
    padding-bottom: 1300px;
    transform: translateX(-100%);

    position: absolute;

    content: '';
    background-image: url(images/AnselMoon.jpg);
    background-position: cover;
    background-attachment: fixed;
    border: 5px solid black;
    border-top: none;
    border-left: none;
    z-index: -1;
}

a:active {
    background-color:rgb(255, 248, 117);
}

:focus {
    background-color:rgb(255, 250, 163);
}

p::first-line {
    font-style: italic;
}

[id~='zen-summary'] p:nth-last-child(2)::first-letter {
    font-style: normal;
}

[id|='zen-summary'] p:nth-last-of-type(1) {
    text-transform: capitalize;
}

div:empty {
    background-color: purple;
    display: none;
}